extends layout

block content
	h1= title
	p Welcome to #{title}, how gorgeous!
	p
		| You can visit my 
		a(href="/users/newuser") New User
		|  page.
	if errormessage
		p(style="color:red")=errormessage
	if successmessage
		p(style="color:green")=successmessage
	
	table
		each user, i in userlist
			tr
				td #{user.username} : #{user._id}